*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "苹方 常规","微软雅黑","serif";
}
.header{
    width: 100%;
    height: 60px;
}

.account{
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.user{
    width: 100%;
    height: 114px;
}
.user>li{
    width: 280px;
    height: 100%;
    border-right: 1px solid #f0f0f0;
    float: left;
    box-sizing: border-box;
}
.user>li:nth-of-type(2){
    width: 400px;
    padding: 10px 55px;
    box-sizing: border-box;
}
.user>li:nth-of-type(3){
    border-right: none;
    width: 280px;
    padding: 10px 40px;
    box-sizing: border-box;
    font-size: 14px;
    color: #969696;
}
.uhead{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    margin-top: 17px;
    vertical-align: middle;
}
.info{
    display: inline-block;
    width: 190px;
    height: 60px;
    margin-top: 17px;
    vertical-align: middle;
    padding-left: 10px;
    box-sizing: border-box;
}
.info>a{
    font-size: 21px;
    color: #2f2f2f;
    font-weight: 700;
}
.info>span{
    padding-top: 5px;
    font-size: 12px;
    color: #333333;
}
.yu{
    margin-right: 20px;
    font-size: 16px;
    color: #969696;
    display: inline-block;
}
.yu>span{
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}
.yu>span:nth-of-type(1){
    font-size: 24px;
    margin-left: 20px;
}
.action{
    width: 100%;
    height: 36px;
    margin-top: 20px;
    line-height: 36px;
}
.chongzhi,.tixian{
    display: inline-block;
    width: 80px;
    height: 36px;
    background: #42c02e;
    border-radius: 100px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 36px;
    margin-right: 10px;
}
.tixian{
    height: 34px;
    border: 1px solid rgba(59,194,29,.7);
    background: white;
    color: rgba(59,194,29,.7);
}
.tixian+span{
    font-size: 13px;
    color: #969696;
}

.dingdan{
    width: 100%;
    height: auto;
    border: 1px solid #dcdcdc;
    border-radius: 10px 10px 0 0;
    margin-top: 60px;

    background: hsla(0,0%,71%,.1);
}
.dingdan>li{
    padding: 20px 25px;
    border-top: 1px solid #dcdcdc;
}
.dingdan>li:first-child{
    border-top: 0px solid #dcdcdc;
    background: white;
}
.dingdan>li>div{
    display: inline-block;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    color: #333333;
}
.dingdan>li:first-child>div{
    border-right: 1px dashed #c8c8c8;
    font-size: 14px;
    color: #333;
}
.time{
    width: 110px;
}
.type{
    width: 74px;
}
.details{
    width: 310px;
}
.dingdan>li:first-child>.operation{
    width: 67px;
    border-right: none;
}
.dingdan>li>.money{
    color: #f5a623;
    width: 94px;
}
.money:nth-of-type(1){
    color: #333333;
}
.dingdan>li>.state{
    width: 135px;
    border-right: none;
}