*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "苹方 常规","微软雅黑","serif";
}
.header{
    width: 100%;
    height: 60px;
}
/*全部专题*/
.zhuanti{
    width: 100%;
    height: auto;
}
.headImg{
    width: 100%;
    height: 100px;
    border-radius: 6px;
    overflow: hidden;
    margin: 30px 0;
    position: relative;
}
.headImg>a{
    position: absolute;
    right: 30px;
    top: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.menu{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f0f0f0;
}
.menu>li{
    height: 100%;
    line-height: 46px;
    text-align: center;
    float: left;
    position: relative;
}
.menu>li:hover>a::after{
    width: 96px;
}
.menu>li:hover>a{
    color: #646464!important;
}
.menu>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    color: #969696;
    margin-top: -2px;
}
.menu>li>a::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 2px;
    background: #646464;
    transition: .5s;
}
.menu>li>a>span{
    font-weight: 400;
    margin-right: 5px;
}
.border{
    border-bottom: 2px solid #646464;
}

.lists{
    width: calc(100% + 30px);
    height: auto;
    overflow: hidden;
    margin-left: -15px;
}
.lists>li{
    width: 33.33%;
    height: 360px;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: 280px;
    margin-top: 80px;
    box-sizing: border-box;
    background: hsla(0,0%,71%,.1);
    border:1px solid #e6e6e6;
    border-radius: 4px;
    padding: 0 20px;
    transition: .5s;
}
.content:hover{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.conHead{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background: red;
    margin: 0 auto;
    margin-top: -40px;
    overflow: hidden;
}
.content>a>h4{
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 21px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}
.content>a>p{
    width: 100%;
    height: 55px;
    font-size: 13px;
    color: #2f2f2f;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    white-space: normal;
    overflow: hidden;
   /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;*/
    text-overflow: ellipsis;
}
.guanzhu{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background: #4acc2e;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}
.guanzhu1{
    display: none;
    width: 98px;
    height: 38px;
    border-radius: 50px;
    border: 1px solid #8c8c8c;
    margin: 0 auto;
    font-size: 16px;
    color: #8c8c8c;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}
.iconfont.icon-jia-b{
    font-size: 14px;
}
.guanzhu:hover{
    background: #44c129;
}
.count{
    width: 100%;
    height: auto;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.count>a{
    font-size: 14px;
    color: #333333;
}
.more{
    display: block;
    width: 366px;
    height: 40px;
    border-radius: 40px;
    background: #a5a5a5;
    margin: 40px auto;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
}
.more:hover{
    background: #8c8c8c;
}