/*
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: "苹方 常规","微软雅黑","serif";
}
.left{
    width: 230px;
    height: 100%;
    background: #3f3f3f;
    overflow: hidden;
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
}
.back{
    display: block;
    margin: 30px auto;
    width: 190px;
    height: 40px;
    border: 1px solid rgba(236,114,89,0.7);
    border-radius: 100px;
    text-align: center;
    line-height:40px;
    font-size: 15px;
    color: #ec7259;
}
select{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background: white;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    padding: 10px 20px;
    box-sizing: border-box;
}
option{
    width: 100%;
    height: 40px;
}
.middle{
    width: 340px;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    float: left;
}
.new{
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 25px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
}
.iconfont.icon-jia-b{
    margin-right: 15px;
}
.middle>input{
    width: 100%;
    height: 60px;
    background-color: #ececec;
    font-size: 20px;
    color: #333333;
    border-left: 5px solid #ec7259;
    box-sizing: border-box;
    padding: 10px 30px;
    border: none;
    outline: none;
}
.middle>input[type="submit"]{
    width: 75%;
    margin-left: 40px;
    margin-top: 30px;
    background: #00bb29;
    border-radius: 10px;
    cursor: pointer;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}
.middle>input[type="submit"]:hover{
    background: #02a526;
}*/


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ec7259;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-fluid{
    border: 1px solid #333333;
}
.container-fluid,.row,div[class*="col"]{
    height: 100%;
}
.left{
    border-right: 1px solid #333333;
    background: #333333;
    padding: 0;
}
.back{
    display: block;
    width: 80%;
    height: 40px;
    border: 1px solid rgba(236,114,89,0.7);
    border-radius: 100px;
    margin: 30px auto;
    text-align: center;
    line-height: 40px;
    color: #ec7259;
    font-size: 15px;
}
.back:hover{
    border: 1px solid #ec7259;
}
.left>ul{
    width: 100%;
    height: auto;
}
.left>ul>li{
    width: 100%;
    padding: 5px 24px;
    border-left: 3px solid #ec7259;
    cursor: pointer;
}
.left>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}
/*.left>ul>li:nth-of-type(1){
    background: #646464;
}*/
.left>ul>li:hover{
    background: #646464!important;
}
iframe{
    width: 100%;
    height: 100%;
}
