@import "../base.css";
html,body{
    width: 100vw;
    height: 100vh;
}
body>h1{
    font-size: 46px;
    color: #ea6f5a;
    font-weight: 400;
    position: absolute;
    left: 50px;
    top: 10px;
}
.logo{
    position: absolute;
    top: -100px;
    left: 200px;
}
.bac{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: url("../../img/background.jpg") no-repeat center center;
    background-size: cover;
}
form{
    width: 400px;
    padding: 75px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    text-align: center;
    position: relative;
    top: 10%;
    left: 56%;
}
.h3{
    width: 350px;
    height: 80px;
    position: absolute;
    top:-50px;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    background: url("../../img/login.png") no-repeat center;
    background-size: cover;
}
.h3>h3{
    margin: 30px 0;
    color: white;
    letter-spacing: 4px;
}
.login{
    position: relative;
}
.login:nth-of-type(1){
    margin-top: 40px;
}
.user,.pass,.phone,.phoneMa{
    width: 100%;
    height: 50px;
    padding: 4px 12px 4px 40px;
    border: 1px solid #c8c8c8;
    border-radius: 4px 4px 0 0;
    background-color: hsla(0,0%,71%,.1);
    vertical-align: middle;
}
.login>a{
    display: block;
    width: 90px;
    height: 34px;
    background: #3194d0;
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 14px;
    color: white;
    line-height: 34px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.login>a:hover{
    background: #187CB6;
}
.pass{
    margin-top: 0;
    border-radius: 0;
    border-top: none;
}
.phone{
    margin-top: 0;
    border-radius: 0;
    border-top: none;
}
.phoneMa{
    margin-top: 0;
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.iconfont.icon-user,.iconfont.icon-mima,.iconfont.icon-shouji,.iconfont.icon-shoujiyanzhengma{
    font-size: 24px;
    color: #969696;
    position: absolute;
    top: 9px;
    left: 8px;
}
.iconfont.icon-shouji{
    font-size: 22px;
}
.checkma{
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}
.check{
    width: 200px;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    vertical-align: middle;
    float: left;
}
.ma{
    display: inline-block;
    width: 90px;
    background: #dfdfdf;
    height: 40px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    overflow: hidden;
}
.submit{
    margin-top: 40px;
}
input[type="submit"]{
    width: 100%;
    height: 40px;
    background: #3194d0;
    border: none;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: white;
}
input[type="submit"]:hover{
    background: #187CB6;
}
/*验证*/
.err{
    width: 135px;
    height: 38px;
    border: 1px solid #ea6f5a;
    background-color: #fff;
    text-align: center;
    line-height: 23px;
    border-radius: 4px;
    position: absolute;
    left: 310px;
    top:6px;
    padding: 5px 10px;
    display: none;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    word-wrap: break-word;
}
.err::before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid #ea6f5a;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: -16px;
    top:0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.err::after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-right: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    left: -12px;
    top:0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}