html,body,ul,li,h1,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    background: #f9f9f9;
    font-family: "苹方 常规","微软雅黑","serif";
}
aside{
    width: 250px;
    height: auto;
    background: #333;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
    float: left;
}
aside>h3{
    width: 100%;
    height: 60px;
    background: #19B5FE;
    margin: 0;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    color: #F9F9F9;
    font-weight: 800;
}
.list{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}
.list>li{
    width: 100%;
    height: 46px;
    padding: 0 20px;
    background: transparent;
    border-left: 3px solid #19B5FE;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
    color: white;
    line-height: 46px;
    border-bottom: 1px solid #666666;
}

.list>li>span{
    margin-right: 5px;
}
/*.list>li:first-child{
    background: white;
    color: #666;
}*/
.list>li:hover{
    background: #00a2d4!important;
}
.list1{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: none;
}
.list1>li{
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    border-top: 1px solid #dfdfdf;
    border-left: 3px solid yellowgreen;
    padding-left: 60px;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
}
.list1>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;
}
.list1>li:hover{
    background: #eeeeee;
}
header{
    width: calc(100% - 250px);
    height: 60px;
    background: white;
    float: left;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
    line-height: 60px;
}
.button{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    float: left;
}
.button:hover .iconfont.icon-liebiao1{
    color: #4cae4c;
}
.iconfont.icon-liebiao1{
    font-size: 24px;
    color: #777;
}
.admin{
    width: auto;
    height: 100%;
    float: right;
    margin-right: 16px;
    padding: 0 15px;
    cursor: pointer;
}
.head{
    width: 40px;
    height: 40px;
    background: #9d9d9d;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.admin>span{
    color: #4cae4c;
}
/*.admin:hover{
    transition: 1s;
    background: #efefef;
}*/
.admin:hover .info{
    transition: 1s;
    height: auto;
}
.btn.btn-danger{
    display: block;
    float: right;
    margin-top: 13px;
    margin-right: 30px;
}

.sanjiao{
    width: 0;
    height: 0;
    border-top: 5px solid #19B5FE;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: right;
    margin-top: 28px;
}
.info{
    width: 200px;
    height: 0;
    border: 1px solid #dfdfdf;
    float: right;
    overflow: hidden;
    margin-right: -15px;
}
.info>li{
    width: 100%;
    height: 40px;
    background: white;
    font-size: 18px;
    color: #666666;
    text-align: center;
    line-height: 40px;
}
.con{
    width: calc(100% - 300px);
    height: 600px;
    margin: 20px;
    float: left;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
iframe{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}