{include file=$header}
<link rel="stylesheet" href="{CSS_URL}/index/account.css">
<link rel="stylesheet" href="{ICON_URL}">
<script src="{JS_URL}/account.js"></script>
    <!--账户-->
    <div class="account">
        <main>
            <ul class="user">
                <li>
                    <a href="" class="uhead"></a>
                    <div class="info">
                        <a href="">暖色调</a>
                        <br>
                        <span>未绑定手机</span>
                    </div>
                </li>
                <li>
                    <div class="yu">账户余额
                        <span>0</span>
                        <span>.00元</span>
                    </div>
                    <div class="action">
                        <a href="" class="chongzhi">充值</a>
                        <a href="" class="tixian">提现</a>
                        <span> * 当前余额不足</span>
                    </div>
                </li>
                <li>
                    <p>每次提现最小额度为￥100.00</p>
                    <p>每次提现收取 5% 手续费</p>
                    <p>提现会在 3-5 个工作日内到账</p>
                    <p>提现会在 3-5 个工作日内到账</p>
                    <p>提现会在 3-5 个工作日内到账</p>
                </li>
            </ul>
            <ul class="dingdan">
                <li>
                    <div class="time">时间</div>
                    <div class="type">类型</div>
                    <div class="details">详情</div>
                    <div class="money">金额</div>
                    <div class="state">状态</div>
                    <div class="operation">操作</div>
                </li>
                <li>
                    <div class="time">2017-10-27 11:47</div>
                    <div class="type">赞赏</div>
                    <div class="details">向<a href="">简书极品宝贝</a>的文章<a href="">《宝贝聊天室 | 双十一的正确剁手姿势》</a>送了两颗糖</div>
                    <div class="money">-￥2.00</div>
                    <div class="state">未支付</div>
                    <div class="operation">
                        <a href="">去支付</a>
                    </div>
                </li>
            </ul>
        </main>
    </div>
</body>
</html>