{include file=$header}
<link rel="stylesheet" href="{CSS_URL}/index/collection.css">
<link rel="stylesheet" href="{ICON_URL}">
<script src="{JS_URL}/index/collection.js"></script>
    <!--收藏-->
    <section class="collection">
        <div class="main1">
            <img src="{IMG_URL}/collection.png" alt="" width="100%">
            <ul class="list">
                <li>
                    <div class="author">
                        <a href="" class="headImg">
                            <img src="{IMG_URL}/more.jpg" alt="" height="100%">
                        </a>
                        <a href="" class="user">潇洒小兔</a>
                        <span>9小时前</span>
                    </div>
                    <a href="index.php?m=index&f=index&a=detail" class="title">谈恋爱，真的是一件很有意思的事情</a>
                    <p>01 人们总说感情这个东西，只有自己最清楚，只有自己最明白，但真的到了那个时候，又会发现好像自己不明白了。 他们好像更愿意去找别人去诉说，自己的心酸苦楚，难受哭泣。 因为面对...</p>
                    <div class="foot">
                        <a href="" class="fenlei">谈谈情，说说爱</a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-liulan"></span>
                            8801
                        </a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-message"></span>
                            134
                        </a>
                        <span class="lookup">
                                <span class="iconfont icon-xin"></span>
                                481
                            </span>
                        <span class="lookup">
                                <span class="iconfont icon-dashang"></span>
                                81
                            </span>
                    </div>
                    <div class="image">
                        <img src="{IMG_URL}/banner4.png" alt="" height="100%">
                    </div>
                </li>
                <li>
                    <div class="author">
                        <a href="" class="headImg">
                            <img src="{IMG_URL}/more.jpg" alt="" height="100%">
                        </a>
                        <a href="" class="user">潇洒小兔</a>
                        <span>9小时前</span>
                    </div>
                    <a href="" class="title">谈恋爱，真的是一件很有意思的事情</a>
                    <p>01 人们总说感情这个东西，只有自己最清楚，只有自己最明白，但真的到了那个时候，又会发现好像自己不明白了。 他们好像更愿意去找别人去诉说，自己的心酸苦楚，难受哭泣。 因为面对...</p>
                    <div class="foot">
                        <a href="" class="fenlei">谈谈情，说说爱</a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-liulan"></span>
                            8801
                        </a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-message"></span>
                            134
                        </a>
                        <span class="lookup">
                                <span class="iconfont icon-xin"></span>
                                481
                            </span>
                        <span class="lookup">
                                <span class="iconfont icon-dashang"></span>
                                81
                            </span>
                    </div>
                    <div class="image">
                        <img src="{IMG_URL}/banner4.png" alt="" height="100%">
                    </div>
                </li>
                <li>
                    <div class="author">
                        <a href="" class="headImg">
                            <img src="{IMG_URL}/more.jpg" alt="" height="100%">
                        </a>
                        <a href="" class="user">潇洒小兔</a>
                        <span>9小时前</span>
                    </div>
                    <a href="" class="title">谈恋爱，真的是一件很有意思的事情</a>
                    <p>01 人们总说感情这个东西，只有自己最清楚，只有自己最明白，但真的到了那个时候，又会发现好像自己不明白了。 他们好像更愿意去找别人去诉说，自己的心酸苦楚，难受哭泣。 因为面对...</p>
                    <div class="foot">
                        <a href="" class="fenlei">谈谈情，说说爱</a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-liulan"></span>
                            8801
                        </a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-message"></span>
                            134
                        </a>
                        <span class="lookup">
                                <span class="iconfont icon-xin"></span>
                                481
                            </span>
                        <span class="lookup">
                                <span class="iconfont icon-dashang"></span>
                                81
                            </span>
                    </div>
                    <div class="image">

                    </div>
                </li>
                <li>
                    <div class="author">
                        <a href="" class="headImg">
                            <img src="{IMG_URL}/more.jpg" alt="" height="100%">
                        </a>
                        <a href="" class="user">潇洒小兔</a>
                        <span>9小时前</span>
                    </div>
                    <a href="" class="title">谈恋爱，真的是一件很有意思的事情</a>
                    <p>01 人们总说感情这个东西，只有自己最清楚，只有自己最明白，但真的到了那个时候，又会发现好像自己不明白了。 他们好像更愿意去找别人去诉说，自己的心酸苦楚，难受哭泣。 因为面对...</p>
                    <div class="foot">
                        <a href="" class="fenlei">谈谈情，说说爱</a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-liulan"></span>
                            8801
                        </a>
                        <a href="" class="lookup">
                            <span class="iconfont icon-message"></span>
                            134
                        </a>
                        <span class="lookup">
                                <span class="iconfont icon-xin"></span>
                                481
                            </span>
                        <span class="lookup">
                                <span class="iconfont icon-dashang"></span>
                                81
                            </span>
                    </div>
                    <div class="image">

                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>