{include file=$header}
<link rel="stylesheet" href="{CSS_URL}/index/detail.css">
<link rel="stylesheet" href="{ICON_URL}">
<script src="{JS_URL}/jquery-3.2.1.js"></script>
<script src="{JS_URL}/index/detail.js"></script>
    <!--详情-->
    <section class="detail">
        <div class="main1">
            <!--文章标题-->
            <h1>{$data["ctitle"]}</h1>
            <!--作者信息-->
            <div class="author">
                <a href="" class="authorHead">
                    <img src="{IMG_URL}/myhead.png" alt="" width="100%">
                </a>
                <div class="info">
                    <a href="" class="name">{$data["uname"]}</a>
                    <a href="" class="guanzhu">+ 关注</a>
                    <div class="authorInfo">
                        <span>{$data["condate"]}</span>
                        <span>字数  2102</span>
                        <span>阅读  {$hitnum}</span>
                        <span>评论  {$mnum}</span>
                        <span>喜欢  1214</span>
                    </div>
                </div>
            </div>
            <!--文章图片-->
            <div class="articalImg">
                <img src="{APP_URL}/{$data['thumb']}" alt="" height="100%">
            </div>
            <!--文章内容-->
            <p>{$data["con"]}</p>
            <!--版权-->
            <div class="copy">
                <span class="iconfont "></span>
                <span>掌控时间：幸福生活的艺术</span>
                <span>© 著作权归作者所有</span>
                <a href="">举报文章</a>
            </div>
            <!--作者详细信息-->
            <div class="authorBox">
                <div class="top">
                    <a href="" class="authorHead">
                        <img src="{IMG_URL}/myhead.png" alt="" width="100%">
                    </a>
                    <div class="info">
                        <a href="" class="name">{$data["uname"]}</a>
                        <input type="hidden" class="hide1" value="{$data['uid']}">
                        <input type="hidden" class="hide2" value="{$uid}">
                        {if $att eq 0}
                        <a href="javascript:;" class="guanzhu1">
                            <span class="iconfont icon-jia-b"></span>
                            <span>关注</span>
                        </a>
                        <a href="javascript:;" class="guanzhu2" style="display: none">
                            <span class="iconfont icon-duigou"></span>
                            <span>已关注</span>
                        </a>
                        {else}
                        <a href="javascript:;" class="guanzhu1" style="display: none">
                            <span class="iconfont icon-jia-b"></span>
                            <span>关注</span>
                        </a>
                        <a href="javascript:;" class="guanzhu2">
                            <span class="iconfont icon-duigou"></span>
                            <span>已关注</span>
                        </a>
                        {/if}
                        <div class="authorInfo">
                            <span>写了 283304 字，被 22029 人关注，获得了 18625 个喜欢</span>
                        </div>
                    </div>
                </div>
                <div class="lianxi">简书签约作者。 微信：tyh520zxc 微信公众号：田宝谈写作。 田宝谈写作总目录：http://www.jianshu.com</div>
            </div>
            <div class="support">
                <p>写的好就赏吧，鼓励我给您推出更好的文！</p>
                <a href="">赞赏支持</a>
                <div class="supporter">
                    <ul>
                        <li>
                            <a href="">
                                <img src="{IMG_URL}/1.jpg" alt="" height="100%">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{IMG_URL}/3.jpg" alt="" width="100%">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="love">
                {if $like}
                <div class="like" style="display: none">
                    <a href="javascript:;">
                        <span class="iconfont icon-xin1"></span>
                        喜欢
                    </a>
                    <div class="feige"></div>
                    <a href="javascript:;">{$likenum}</a>
                </div>
                <div class="like1">
                    <a href="javascript:;">
                        <span class="iconfont icon-xin1"></span>
                        喜欢
                    </a>
                    <div class="feige"></div>
                    <a href="javascript:;">{$likenum}</a>
                </div>
                {else}
                <div class="like">
                    <a href="javascript:;">
                        <span class="iconfont icon-xin1"></span>
                        喜欢
                    </a>
                    <div class="feige"></div>
                    <a href="javascript:;">{$likenum}</a>
                </div>
                <div class="like1" style="display: none">
                    <a href="javascript:;">
                        <span class="iconfont icon-xin1"></span>
                        喜欢
                    </a>
                    <div class="feige"></div>
                    <a href="javascript:;">{$likenum}</a>
                </div>
                {/if}
                <ul class="share">
                    <li>
                        <a href="">
                            <span class="iconfont icon-weixin"></span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="iconfont icon-weibo"></span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="iconfont icon-qq"></span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            更多分享
                        </a>
                    </li>
                </ul>
            </div>
            <!--评论部分-->
            <div class="comment">
                <form class="commentArea" attr="{$uname}">
                    <a href="" class="ahead">
                        <img src="{IMG_URL}/myhead.png" alt="" width="100%">
                    </a>
                    <textarea name="" id="textarea" cols="30" rows="10" placeholder="写下你的评论..."></textarea>
                    <input type="hidden" value="{$data['conid']}" class="hide3">
                    <input type="button" value="发送">
                    <div class="cancel cancel2">取消</div>
                    <p>您还可以输入<span>200</span>字</p>
                </form>
                <div class="liuyan">
                    <div class="Ltop">
                        <span>{$mnum}</span>条评论
                    </div>
                    <ul>
                        {foreach $data1 as $v}
                        <li>
                            <div class="Lauthor">
                                <a href="">
                                    <img src="{IMG_URL}/3.jpg" alt="" width="100%">
                                </a>
                                <div class="Linfo">
                                    <a href="">{$v["uname"]}</a>
                                    <br>
                                    <span>1楼</span>
                                    <span>{$v["mdate"]}</span>
                                </div>
                            </div>
                            <p>{$v["mcon"]}</p>
                            <div class="Lgood">
                                <a href="">
                                    <span class="iconfont icon-dianzan"></span>
                                    15人点赞</a>
                                <a href="javascript:;" class="replaybtn">
                                    <span class="iconfont icon-liuyan"></span>
                                    回复</a>
                            </div>

                            <ul class="huifu">
                                {foreach $v["son"] as $val}
                                <li>
                                    <p><a href="">{$val["uname"]}</a>:
                                        <span>{$val["mcon"]}</span>
                                    </p>
                                    <span>{$val["mdate"]}</span>
                                    <a href="javascript:;" class="reAgain" author="{$val['uname']}">
                                        <span class="iconfont icon-liuyan"></span>
                                        回复</a>

                                </li>
                                {if $val["uname"]}
                                <div class="addNew" style="display: block">
                                    <a href="javascript:;">
                                        <span class="iconfont icon-pencil"></span>
                                        添加新评论
                                    </a>
                                </div>
                                {/if}
                                {/foreach}
                                <form class="commentArea">
                                    <textarea name="" id="textarea1" cols="30" rows="10" placeholder="写下你的评论..."></textarea>
                                    <input type="hidden" value="{$data['conid']}" class="hide3">
                                    <input type="button" value="发送" class="replayBtn" mid="{$v['mid']}">
                                    <div class="cancel cancel1">取消</div>
                                    <p>您还可以输入<span>200</span>字</p>
                                </form>
                            </ul>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">

    </section>
</body>
</html>